#header
{
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    background-color: #fafafa;
    height: 55px;
    border-bottom: 1px solid #d3d3d3;
    overflow: auto; 
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #fafafa;
    height: 55px;
    border-bottom: 1px solid #d3d3d3;
}

#logo
{
    font-size: 24pt;
    color: forestgreen;
    width: 100px;
    float: left;
}

#header-middle
{
    font-size: 24pt;
    color: forestgreen;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#header-right
{
    font-size: 24pt;
    color: forestgreen;
    float: right;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}